@charset "utf-8";
body { margin:0px; padding:0px; background:#1679bd; height:100%; font-size:12px;}
html {height:100%; }
img { border:0px;}
input{ border:none; height:24px; font-size:13px; font-family:Arial,"宋体"; color:#333;padding-left:5px; width:165px; background:none}